.size {
	border-radius: 5px;
	background-color: #F9F1E7;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: fit-content
}

.picked {
	background-color: var(--orange);
	color: #fff;
}