.tabs {
	margin-bottom: 50px;
}

.nav {
	list-style-type: none;
	display: flex;
	gap: 40px;
	font-size: 24px;
	justify-content: center;
	margin-bottom: 37px;


	li {
		color: var(--grey);
		border-bottom: 2px solid transparent;
		cursor: pointer;
		transition: all .2s ease-in-out;

		&:hover {
			border-color: var(--blue);
			transition: all .2s ease-in-out;
		}
	}

	.active {
		color: var(--text);
		border-color: var(--blue);
	}
}
.characteristics {}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 30px;
	margin-bottom: 10px;
	padding: 10px;

	&:nth-child(even) {
		background-color: var(--light-grey);
	}
}
.expandable {
	display: none;
}

.open {
	display: block;
}