.slider_card {
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
	max-height: 490px;
}

.mySwiper {
	box-sizing: border-box;
	max-width: 100px;
}

.mySwiper img {
	border-radius: 5px;
}

.mySwiper2 img {
	border-radius: 10px;
}