.link {
    padding: 0 .5rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
    padding: 20px 0;
}

.link:hover {
    color: var(--blue);
    transition: all .2s ease-in-out;
}

.active {
    color: var(--blue);
}

.nav {
    display: flex;
    gap: 10px;
}

@media(max-width: 700px) {
    .nav {
        display: none;
    }
}