.card {
	max-width: 385px;
	width: 100%;
	background-color: var(--light-grey);
	position: relative;
	transition: all .2s ease-in-out;
	border-radius: 10px;
		border: 1px solid var(--light-grey);
		overflow: hidden;

	&:hover {
		box-shadow: 0 0 10px 1px var(--shadow-hover);
		transition: all .2s ease-in-out;
	}
}

.title {
	font-weight: normal;
	font-size: 1.2rem;
	padding-bottom: 10px;

	&:hover {
		color: var(--blue);
	}
}

.info {
	padding: 20px 10px;
	display: flex;
		flex-direction: column;
		box-sizing: border-box;
}

.description {
	font-size: 0.9rem;
	color: var(--grey);
	padding-bottom: 10px;
	line-height: var(--line-height);
		max-height: calc(var(--max-lines) * 1em * 1.6);
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		margin-bottom: 20px;
}

.price {
	display: flex;
	gap: 10px;

	.current {
		font-weight: normal;
			color: var(--orange);
	}

	.old {
		color: var(--grey);
		text-decoration: line-through;
	}
}

.image {
	display: flex;
	justify-content: center;
	position: relative;

	&:hover {
		.shares {
			display: block;
			opacity: 1;
			transition: all .2s ease-in-out;
		}
	}

	img {
		height: 200px;
			width: auto;
	}
}
@media(max-width: 768px) {
	.card {
		max-width: 100%;
	}
}

.horizontal.card {
	border: 1px solid var(--light-grey);
	box-shadow: var(--shadow);
	max-width: 100%;
	display: flex;
}