.switch {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 60px;
	position: relative;
	font-size: 20px;
	max-width: 500px;
	width: 100%;
	background: #e7e7e7;
	border-radius: 8px;
	align-items: center;
	justify-items: center;
	gap: 40px;
	margin-bottom: 80px;

	span {
		display: inline-block;
		z-index: 9;
		background-color: transparent;
		cursor: pointer;
	}
}

.switch .toggle {
	display: inline-block;
	position: absolute;
	height: 54px;
	width: 225px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	box-sizing: border-box;
	border-radius: 8px;
	background: var(--white);
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
	cursor: pointer;

	&:hover {
		transition: all 0.3s ease-in-out;
		box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
	}
}

.switch .switched.toggle {
	left: unset;
	transition: all 0.3s ease-in-out;
	transform: translateX(135px);
}



.switch input[type="checkbox"] {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	opacity: 0;
}