.controls {
	display: flex;
	align-items: center
}

.icons {
	display: flex;
	align-items: center;
	gap: 10px;
	min-width: 100px;
	margin-right: 10px;
}

.icon {
	display: flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
}

.count {
	border-left: 1px solid var(--grey);
	padding-left: 10px;
}
.horizontal.icon svg {
	fill: var(--blue);
}

.horisontalIcon {
	@media(max-width: 600px) {
		display: none;
	}
}