:root {
  --orange: #fa9c26;
    --blue: #00b3e5;
    --bege: #FCF8F3;
    --light-grey: #F4F5F7;
    --container-w: 1280px;
    --dark: #242424;
    --white: #fff;
    --grey: #b5b5b5;
    --radius-5: 5px;
    --dark-grey: #999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
  
html {
  font-size: 16px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #242424;
    background-color: #fff;
    height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
