.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--radius-5);
	transition: all .2s ease-in-out;
	// box-shadow: 0 0 10px 1px var(--shadow);
		background-color: var(--light-grey);
		padding: 10px;

	&:hover {
		box-shadow: 0 0 5px 1px var(--shadow);
		transition: all .2s ease-in-out;
		border-color: transparent;
		.title {
				color: var(--blue);
				transition: all .2s ease-in-out;
			}
	}
}

.titleWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.img {
	max-height: 200px;
	height: 100%;
	width: auto;
	text-align: center;
}
.title {
	font-weight: normal;
	color: var(--text);
	text-decoration: none;
	padding: 10px 0;
	align-self: flex-start;
	}
	
	.amount {
		color: var(--grey);
}