.product {
	margin: 50px 0;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	@media(max-width: 1100px) {
			grid-template-columns: 1fr;
			justify-items: center;
		}
}

.slider {
	max-width: 600px;

	img {
		width: 100%;
	}
}

.title {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
}

.price {
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 20px;
}

.sizes {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.related {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
}
.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
	margin-top: 10%;
}