.container {
	max-width: 1240px;
	margin: 50px auto;
	padding: 20px;
	margin-top: 0;
}

.bg {
	background-color: var(--section-bg);
}

.wide {
	max-width: 100%;
}

.inner {
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}