.slide {
	height: 500px;
	position: relative;
	@media(max-width: 860px) {
		display: flex;
		flex-direction: column;
	}
}

.info {
	z-index: 99;
	background-color: var(--orange);
	position: absolute;
	padding: 20px;
	background-color: #FFF3E3;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 450px;
	width: 100%;
	bottom: 5%;
	left: 5%;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
	@media(max-width: 860px) {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
	}
}

.title {
	color: #B88E2F;
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	line-height: 65px;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
}
.img {
	width: 100%;
	height: auto;
}