.submenu {
	background-color: var(--white);
	padding: 10px 20px;
	position: absolute;
	box-shadow: 0 0 5px 1px var(--shadow);
	display: flex;
	flex-direction: column;
	display: none;
	border-radius: 5px;
		top: 70px;
}

.active {
	display: flex;
}

.item {
	padding: 10px 0;
	border-bottom: 1px solid var(--light-grey);

	&:hover {
		color: var(--blue);
	}
}