.search {
	background-color: var(--white);
	box-shadow: 0 0 5px 1px var(--shadow);
	position: absolute;
	transform: translateY(-1000%);
	left: 0;
    right: 0;
    padding: 20px;
    z-index: 9999;
	max-width: 1000px;
	margin: 0 auto;
}

.active {
	transform: translateX(0);
}

.input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	border: 1px solid var(--grey);
	width: 100%;
	background-color: transparent;
}

.searchWrap {
	position: relative;
}