.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	}

.content {
	flex: 1 0 auto;
	position: relative;
}

.container {
	margin: 0 auto;
}
.bottomSliderWrap {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 30px;
}

.bottomSliderTitle {
	font-size: 32px;
	line-height: 40px;
	margin: 50px 0 20px 0;
}

.bottomSlider {
	max-width: 500px;
}

@media(max-width: 1024px) {
	.bottomSliderTitle {
		font-size: 24px;
		line-height: 30px;
		margin: 50px 0 20px 0;
	}
}

@media(max-width: 800px) {
	.bottomSliderWrap {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
	}

	.bottomSlider {
		max-width: 800px;
	}
}