.h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.h3 {
	font-size: 18px;
	margin-bottom: 20px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}